:root {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  font-size: 1.2em;
  line-height: 1.5;

  /* Colors */
  --color-fg: #4e5668;
  --color-bg: #fff;

  --color-sub-fg: #7d889f;
  --color-sub-bg: #eceff4;

  --color-accent: #94bfce;
}

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 620px;
  display: flex;

  color: var(--color-fg);
  background-color: var(--color-bg);
}

main {
  width: 100%;
}

pre {
  margin: 0;
  padding: 0;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

img {
  border-radius: 0.25em;
  display: block;
}
